name: CI
on:
  push:
    branches:
    - master
    - ci/test-linux-arm
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    if: false
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        os:
          - ubuntu-24.04-arm
          - windows-2022

    name: ${{ matrix.os }} / python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    env:
      # Needed to ignore specific warns, otherwise, it'll warn a generic message
      SQLALCHEMY_WARN_20: 1

    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v5"
        with:
          python-version: "${{ matrix.python-version }}"
          cache: 'pip'
          cache-dependency-path: |
            requirements-ci.txt
            requirements-cidb.txt
            master/setup.py
            worker/setup.py
            pkg/setup.py

      - name: "Install dependencies"
        run: |
          python -c "import sys; print(sys.prefix)"
          python -c "import sys; print(sys.exec_prefix)"
          python -c "import sys; print(sys.executable)"
          python -V -V
          python -m pip install -r requirements-pip.txt
          python -m pip install -r requirements-ci.txt
          python -m pip list

      - name: "Check PyWin32"
        if: ${{ startsWith(matrix.os, 'windows-') }}
        run: |
          # Check that pywin32 is properly installed
          python -c "import win32api"

      - name: "Run tests for ${{ matrix.python-version }}"
        run: "python -m twisted.trial --reporter=text --rterrors buildbot.test buildbot_worker.test"
        timeout-minutes: 30

  sandboxed-worker:
    if: false
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04-arm
          - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: "actions/checkout@v6"
      - uses: "actions/setup-python@v5"
        with:
          python-version: "=3.10"
          cache: 'pip'
          cache-dependency-path: |
            requirements-pip.txt
            requirements-ci.txt
            requirements-ci-pyinstaller.txt
            master/setup.py
            worker/setup.py
            pkg/setup.py

      - name: "Install dependencies"
        run: |
          python -m pip install -r requirements-pip.txt
          python -m pip install -r requirements-ci-pyinstaller.txt
      - run: pyinstaller pyinstaller/buildbot-worker.spec
      - run: trial --reporter=text --rterrors buildbot.test.integration.interop
        env:
          SANDBOXED_WORKER_PATH: "${{ github.workspace }}/dist/buildbot-worker${{ startsWith(matrix.os, 'windows-') && '.exe' || '' }}"

  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ vars.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./
          platforms: linux/amd64,linux/arm64
          file: Dockerfile.master
          # push: true
          tags: test-master:latest

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./worker/
          platforms: linux/amd64,linux/arm64
          file: worker/Dockerfile
          # push: true
          tags: test-worker:latest
